.super {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;

  *{

    font-family: Inter;
  }



  .sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;

   
  } .fale {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 170px 600px;
    width: 100vw;

    background-color: #ffffff;
      background-image: url("../../../public/assets/images/imageasd.png");
    }

    .nossa {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 150px 600px;
        width: 100vw;

      color: #ffffff;
      background-color: #171717;

      h3{
        padding: 50px;
        width: 90vw;
      }
      
    }


      .comentarios0{

        display: flex;
        flex-direction: column;
        align-items: center;   
        justify-content: center;
        padding: 150px 600px;
        width: 100vw;

      background-color: #fcbf58;

    .comentarios {
        display: flex;
        justify-content: space-between;
        border: 1px solid;
        width: 90vw;
        height: auto;
        align-items: center;
        
        flex-direction: row;
     
    }
      }
}
