.pagina-ajuda {
    display: flex;
    flex-direction: column;
    font-family: 'inter';

    
    a {
        text-decoration: none;
        color: black;
    }

    .botao-voltar {
        display: flex;
        padding: 10px;
        .voltar {

            padding: 0px 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-size: 70%;
            border-bottom: 2px solid rgb(114, 114, 114);
            font-weight: 500;

        }

        img{
            width: 25%;
        }
    }

    .ajuda {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;

        h1{
            font-size: 36px;
            color: #423f3f;
        }

        .perguntasErespostas {
            display: flex;
            gap: 50px;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 20px;
            font-size: 124%;
            font-weight: 500;
            details {
                
                p {
                    color: #6F6767;
                }
            }
        }
        
    }
    img{
        width: 60%;
        margin-left: 20%;
    }    
}