.pagina-ajuda { 
    font-family: "inter";

	*{
		border:  2px solid black;

	}

    a {
        text-decoration: none;
        color: black;
    }

    .ajuda {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

		.container{

		

        h1 {
            font-size: 34px;
            color: #423f3f;
        }

		hr{
			width: 100%;
			height: 3px;
			margin-top: 15px;
			border: none;
			background-color: #423f3f;
		}

        .perguntasErespostas {
            display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;


           	margin: 40px 0px;
            font-size: 2rem;
            font-weight: 500;

            details {
                p {
                    color: #6f6767;
                }
            }

            details {
                summary {
                    display: flex;
                    align-items: center;
					justify-content: center;
                    list-style: none;
                    cursor: pointer;
                }

                /* Seta padrão com rotação ao expandir */
                summary::after {
                    content: "▸"; /* Seta apontando para a direita */
					margin-left: 8px;
                    font-size: 30px;
                    transition: transform 0.5s ease; /* Animação suave na rotação */
                }

                /* Quando o details é aberto, a seta gira para baixo */
                &[open] summary::after {
                    transform: rotate(90deg); /* Roda para baixo */
                }

                .conteudo {
                    display: flex;
                    flex-direction: column;
					align-items: center;
					justify-content: center;

                    padding-top: 10px;
                    font-size: 18px;
                }
            }
        }
	}
    }
   
}
