.secao-rodape {
  width: 100%;
  background-color: #262626;
  font-family: inter;

  .link_image {
    display: flex;
    align-items: center;
    margin: 0 3%;
    justify-content: space-between;
    
    .links {
      display: flex;
      gap: 2vw;
     font-size: 2.5vw;


      h3 {
        text-decoration: none;
        color: white; 
        font-size: 1.5vw;
      }
    }

    .logo {
      display: flex;
      width: 15%;
      height: auto;
    }
  }



  .linha {
    width: 100%;
    height: 0.5vh;
    background-color: #967e32;
  }

  .cor {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-right: 20px;



    .container_intermediario {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-left: 5vw;
      align-items: center;
      margin-bottom: 5px;

      .admin {
        color: #EFB820;
        border: 1px solid #EFB820;
        border-radius: 10px;
        padding: 2vh 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        
        h3{
          font-size: 1.5vw;
        }
      }

      .grupo {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3vh;
        font-size: 1.4vw;



        .redes {
          display: flex;
          gap: 10px;
          color: white;

          img {
            width: 1.6vw;
            height: auto;
          }
        }

      }
    }

  }

  .copyright {
    color: white;
    padding: 10px;
    font-size: 1vw;
  }
}