.secao-rodape{

    display: flex;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    border: 1px solid greenyellow;
    width: 1300px;

    .a1{
        display: flex;
        width: 1300px;
        height: 50px;
        background-color: black;

    }

    .b{

        display: flex;
        flex-direction: row;
 .b1 { 
        
        background-color: black;
    }   
    
    .sla{
        width:900px;
        height: 2px;
        position: absolute;
        margin-left: 200px;
        background-color: #FFE4C4;
    
    }

    }


   
 

    .cor{

        width: 1300px;
        height: 120px;
        background-color: black;
        display: flex;
        justify-content: end;
        align-items: end;
        flex-direction: column;
        padding: 100px 100px;


    }



    .logo2{
        display: flex;
        
        width: 100px;
        height: 50px;
        width: 100px;
        padding-right: 100px;

    }
    
        .logop{

            width: 140px;
            

        }


   

    

    .grupo{
        display: flex;
        flex-direction: row;
        height: 20px;
    }







    }