.pagina-consultar {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: #fffafa ;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .cabecalho{
        display: flex;
        align-items: center;
    }

    main {
        padding: 5%;

        .opcoes{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            margin-bottom: 20px;
            a{
                text-decoration: none;
                color: #fff;
            }


            .sair{
                background-color: rgb(245, 45, 45);
                padding: 20px 30px;

                border-radius: 100px;
                border: #000 solid 3px;
            }

            button{


                font-size: 24px;
                border-radius: 50px;

                padding: 20px 40px;
                background-color: #000;
                color: #fff;

                border: none;
            }

        }

        .tabela {
            display: flex;
            justify-content: center;

            table {
                font-size: 15px;
                margin-top: 20px;
                background-color: #e9e6e6;
                border-spacing: 0;
                table-layout: fixed;
                width: 100%;
            }

            th {
                padding: 20px 20px;
                background-color: #000;
                color: #fff;
            }

            td {
                padding: 15px 10px;
                color: #9e9e9e;
                text-align: center;
                overflow: hidden; /* Evita que o conteúdo extrapole o espaço da célula */
            }

            /* Alternando cores das linhas */
            tr:nth-child(odd) {
                background-color: #fff; /* Linha ímpar */
            }

            tr:nth-child(even) {
                background-color: #e9e6e6; /* Linha par */
            }
        }

        .verMais {
            display: flex;
            flex-direction: row;

            justify-content: center;
            align-items: center;
            gap: 15px;

            margin-top: 50px;
            margin-bottom: 50px;

            width: 100%;

            hr {
                width: 50%;
                height: 3px;
                background-color: #000;
            }

            button {
                background-color: #fff;
                padding: 20px 40px;
                width: 20%;

                border-color: rgb(204, 204, 204);
                border-style: solid;
                border-radius: 100px;

                font-size: 24px;
            }
        }
    }
}
