.pagina-cadastrar {
    padding: 10px;

    
    .titulo {

        margin-top: 80px;

    }

    
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 200px;


        .forma1{

            width: 1200px;



        }

       
    .lab {

        display: flex;
        flex-direction: column;
        width: 300px;



    }

}


















}