.pagina-cadastrar {
    font-family: Inter;
    width: 100%;

    main {
       padding: 3%;


        .titulo {
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-weight: 600;
        }

        .formulario {
            flex-direction: column;

            input {
                padding: 10px 20px;
                border-radius: 8px;
                border: 1px solid rgba(128, 128, 128, 0.116);
                box-shadow: #0000003d 2px 3px 4px;
            }

            .campos {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 100px;
                margin-top: 20px;

                .campo {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 10px;
                    
                    width: 50%;
                    margin-bottom: 10px;
                    
                    input{
                        font-size: 16px;
                        max-width: 80%;
                    }

                    .contador{
                        display: flex;
                        gap: 15px;
                        

                      
                        button{
                            padding: 10px 20px;
                            background-color: white;
                            border-radius: 10px;
                        }
                    }
                }
            }

            .checkbox{
                display: flex;
                align-items: center;
            }

            .descricao {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: flex-start;

                textarea {
                    font-family: 'inter';
                    font-size: 16px;

                    border-radius: 10px;
                    border-color: #E0E0E0;

                    text-align: left;
                    vertical-align: top; 
                    
                    width: 100%;

                    height: 200px;
                    padding: 10px;

                    resize: none;
                }
            }
        }
    }

    .check {
        margin: 20px;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid #ccc;
        background-color: #fff;
        cursor: pointer;
    }

    hr {
        border: none;
        background-color: black;
        height: 2px;
    }

    .lile {
        display: flex;
        justify-content: space-between;
        padding-top: 2%;
        padding-right: 4%;
        .inserir{
            background-color: black;
            color: white;
            border-radius: 10px;
        }
        .cancelar{
            background-color: rgba(194, 13, 13, 0.788);
            color: white;
            border-radius: 10px;    
        }

        button {
            padding: 10% 20% 10% 20%;
            width: 150%;
            font-size: 20px;

        }
    }
}
