.pagina-landing {
    width: 100%;
  


    
    .secao-landing {
        font-family: inter;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;

        .catch {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            align-items: center;
            justify-content: center;
            width: 60vw;
            margin-bottom: 1vh;
            font-size: 1.5vw;

            text-align: center;
            font-family: Inter;



              }

            .garanta {
                width: 30vw;
                margin-top: 10vh
            }

    
      

        .cat1 h1,
        .cat2 h1,
        .cat3 h1 {
            font-family: lobster;
            text-shadow: 0px 3px 0px #e6e210, 0px 14px 10px rgba(0, 0, 0, 0.15),
                0px 24px 2px rgba(0, 0, 0, 0.1),
                0px 34px 30px rgba(0, 0, 0, 0.1);
            color: #551a8b;
            font-size: 3.5vw;
            opacity: 0.9;
        }

        .cat1 h1:hover,
        .cat2 h1:hover,
        .cat3 h1:hover {
            opacity: 0.1;
            transition: all 0.5s ease-in-out;
        }

        .land {
            margin: 20px 0px 0px 0px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: fit-content;

            background-color: #d6d696;

            .banner {
                width: 60vw;
            }
        }

        .ver {
            margin-top: 30px;
            padding: 1vw 5vw;
            border-radius: 27px;
            color: #000000;
            background-color: #524f4f;
            font-weight: 800;
        }

        .dona {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 95vw;
            justify-content: center;
            align-items: center;

            


            .nomes{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: fit-content;


                img{
                        width: 30vw;
                        height: 23vw;
                        
                }


                .cat1,
                .cat2,
                .cat3{
                    display: flex;

                    flex-direction: row;


                }
            }

            h1{
                position: absolute;
            }

            .crem,
            .verd,
            .cat2,
            .amarel,
            .rox
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border: 1px solid;
            }

            .creme{
                background-color: #DA6565;
            }

            .verde{
                background-color: #22AF37;
            }
            
            .azul{
                background-color: #228AAF;
            }

            .amarelo {
                background-color: #EFB820;
            }

            .roxo{
                background-color: #CC66FF;
            }
            

        }

    }

    .rodape{
        margin-top: 10vh;
        width: 100%;
    }


}
