




.light{
    width: 1344px;
    background-color: #1B1732;
    height: 2200px;
    display:  flex;
    flex-direction: column;
    margin-bottom: 200px;html{

 background-color: #11081f;
 width: 1344px;
}

* {
   
    font-family: Inter;
    color: #ffffff;
    font-weight: 500;
    
}


.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    height: 70px;
    background-color: #121222;
    color: #ffffff;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;;
    text-decoration: none !important;

    .links{
        gap: 20px;
        display: flex;
        margin-left: 450px;
        font-size: 10px;
        h1{
          
            a{
                animation: color 8s  infinite;
                text-shadow: 2px 2px 4px #000000;
                text-decoration: none !important;
            }
        }
    }
    
}

@keyframes color {
    0% {color:#9999cb;}
    25% {color: rgb(141, 158, 224);}
    50% {color: rgb(223, 144, 144);}
    75% {color:rgb(217, 180, 207);}
    100% {color:#4c36c8}
}
.banner{

    background-color: #1B1732;
    width: 1344px;    height: 300px;


    .nome{
        position: absolute;
        display: flex;
        justify-content: end;
        width: 1234px;
                height: 400px;
        align-items: center;
        

    }
}

.servicos{


    width: 1344px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
    margin-bottom: 800px;
    
    img{

        width: 300px;
        height: 400px;

    }

    h1 {
        
        padding: 20px 0;
        font-size: 30px;
        font-weight: 800;
        color: #ffffff;
    }

    .images{
        display: flex;
        gap: 1rem;
    }

    .images> img{
        flex: 1;
        border-radius: 1rem;
    }

    .services{

        font-family: Weather;
        position: absolute;
        display: flex;
        align-items: center;
        margin-top: 130px;
        margin-left: 30px;
        gap: 120px;
        text-align: center;


    h1{

        width: 200px;
        
    }

    }

}

.sobre {

margin: 20px;
width: 1200px;
    h1{
        display: flex;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    p{
        li{
            margin-top: 15px;
            margin-bottom: 15px;
            text-decoration: none;
        }
        
    }
}

.contato{
    background-color: #000000;
    margin: 10px;
    padding: 15px 50px;
    
}


.rodape{
    display: flex;
    padding: 20px 50px;
    background-color: #11081f;
    margin-top: 30px;
    justify-content: end;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}

