

.secao-landing{

display: flex;
width: fit-content;
font-family: inter;
flex-direction: column;
justify-content: center;
align-items: center;


.catch{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    width: 700px;
    margin-bottom: 100px;

   .garanta{

    width: 500px;
    margin-top: 65px;
    columns: 200px;

   } 
   .gold{
    width: 600px;
    margin: 5px;
    border: 1px solid;
}

}




.land{
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: fit-content;
    border: 1px solid #d6d696;
    background-color: #d6d696;
    

}


.dona {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     }


.nomes{

    display: flex;
    width: 1100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;


    .cat1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
        width: 1100px;

    
    .creme{
        background-color: #DA6565;
       
    }

   

    .verde{

        background-color: #22AF37;
        
    }

}
    img{
    
        width: 542px;
        
    }


.cat2{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;

    background-color: #228AAF;
    width: 1100px;


    img{


            width: 600px;

    }

}

.cat3{


    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-bottom: 150px;
    width: 1100px;



.roxo{
    background-color: #CC66FF;
}

.amarelo{
    background-color: #EFB820;
}


img{
    
    width: 542px;

}


}
}


.ji {


display: flex;
justify-self: start;
align-self: stretch;
margin-left: 235px;
margin-bottom: 20px;


}

.cards {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1100px;
.c2{

    display: flex;
    flex-direction: row;
    justify-content: start;


}

}


}